*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: rgb(222, 245, 252);
}
header{
    height: 15vh;
    font: 900 18px Arial;
}
main{
    height: 80vh;
}
main p{
    font: 500 17px Arial;
}
main p input{
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
}
.btn input{
    background: rgb(223, 12, 12);
    color: white;
    font: 700 14px Arial;
    border-radius: 20px;
    border: none;
    padding: 10px 18px;
    margin-bottom: 30px;
    cursor: pointer;
}
.btn input:first-of-type{
    background: rgb(26, 228, 26);
}
.reslt{
    border: 1px solid gray;
    padding: 7px 0;
    border-radius: 20px;
    text-align: center;
    margin: 9px auto;
}
section{
    box-shadow: 0 0 10px 5px rgb(102, 170, 216);
    border-radius: 20px;
    background: white;
}
footer{
    font: 800 10px Arial;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: rebeccapurple;
}

/*parte destinada ao javascript*/
.reprovado, .aprovado, .recuperacao{
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 15px;
}
.reprovado{
    background: red;
    color: white;
}
.aprovado{
    background: rgb(28, 235, 28);
    color: white;
}
.recuperacao{
    background: yellow;
    color: black;
}
.off{
    background: gray;
}
@media(max-width: 480px){
    section{
        padding: 25px 20px; 
    }
    header h1{
        font-size: 24px;
    }
}
@media(min-width: 481px){
    section{
        padding: 60px 80px;
    }
}